<ion-view cache-view="false">
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button button-icon icon ion-arrow-left-c" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <span>itemList</span>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        This is {{itemName}} !
        <button class="button button-assertive button-block" ng-click="showFunc.showLoading()">show ionicLoading</button>
        <button class="button button-assertive button-block" ng-click="showFunc.showAlert()">show ionicAlert</button>
        <button class="button button-assertive button-block" ng-click="showFunc.showConfirm()">show ionicConfirm</button>
        <button class="button button-assertive button-block" ng-click="showFunc.showToast()">show ionicToast</button>
    </ion-content>
</ion-view>